<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>902519457418-4ipf0gskthn3l76j7pr7dva64rb8acj4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.902519457418-4ipf0gskthn3l76j7pr7dva64rb8acj4</string>
	<key>API_KEY</key>
	<string>AIzaSyBazmJtXXUNrn1W-KvJ2g_viVCksqjYMuA</string>
	<key>GCM_SENDER_ID</key>
	<string>902519457418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cursoios.SnapchatClone</string>
	<key>PROJECT_ID</key>
	<string>snapchat-a5a9b</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-a5a9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902519457418:ios:204fd5cbc856e03efe0f73</string>
</dict>
</plist>